/node_modules
/vendor

.env
.env.*

/public/storage/*
/storage/*
!/storage/app/public
!/storage/framework/.gitignore
!/storage/logs/.gitignore

/bootstrap/cache/*
!/bootstrap/cache/.gitignore

/public/build
/public/hot

.idea
.vscode
.DS_Store
Thumbs.db
*.log
